<br />
<br />
<div class="text-center glow">
  <h1>Contact, Payments, Information </h1>
  <br />
    <div class="col-10 offset-1">
      <%= image_tag("contact.jpg", class: 'img-fluid, photo') %>
    </div>
</div>
    <br />
<br />
<br />



<div class="booyah-box col-10 offset-1">
  <div class="text-center">
    <br />
    <body>
      <p> Keisha Davis @ 281-746-4915 
      <br /> KDavis@TheSkyShops.com
      </p>
    </body>
  </div>

</div>