<br />


<body>
<div class="float-right">
   <%= audio_tag "music.mp3", loop: true, volume: 0.4, controls: true%>
</div>
  <div class='hero'>
    <br />
    <br /> 
    
    <br />
    <br />
    <br />
    <br />
      <div class="frosty col-10 offset-1 text-center">
        <div class="glow">
          <h1>Cynthia's 40th Celebration</h1>
        </div>
        <br />
        <h2>Ocho Rios, Jamaica</h2>
        <h2>June 6 - June 10, 2018 </h2>
        <br />
    </div>
    <br />
    <br />
    <br />
    <script src="//www.powr.io/powr.js" external-type="html"></script> 
    <div class="powr-countdown-timer" id="a74da2a8_1496444986"></div>
  
  </div>
    

  
<body>