<div class='hero'>
  <div class="firstbck">
  <br />
  <br />
  <br />
  <br />
    <div class="frosty col-10 offset-1 text-center">
      <h1>Cynthia's 40th Celebration</h1>
      <br />
      <h2>Ocho Rios, Jamaica</h2>
      <h2>June 6 - June 10, 2018 </h2>
      <br />
      <h2> You Are Invited </h2>
      <br />
     <!--  <%= link_to 'Learn More', '#', class: 'btn btn-success' %> -->
     </div>
  </div>
</div>