<br />

<div class="booyah-box col-10 offset-1">
  <h1>PRICING SCHEDULE</h1>

  <body>

      TOTAL PRICE  $966.20 per person **
        <b>(airfare NOT included)</b>
        <b>(passports are REQUIRED)</b>
      <br />
       
      <li> Deposit is $200.00 per person due by 7/15/2017
      <li> MONTHLY PAYMENT: $85(per person) due on 15th of each month
      <li> FINAL PAYMENT: $86.20 due on April 15, 2018
      </li>

  </body>

</div>