<br />
  <div class="glow text-center">
    <b><h1>Sandals Ochi Beach Resort</h1></b>
  </div>  
  <div class="center">
    <%= image_tag("resort.jpg", class: 'img-fluid, photo') %>
    <%= image_tag("resort2.jpg", class: 'img-fluid, photo') %>
    <%= image_tag("resort3.jpg", class: 'img-fluid, photo') %>
  </div>

  <br />

  <div class="booyah-box col-10 offset-1">
    <ul class="text-center">
        An awesome experience we will have in 2018. 
        <br />The Sandals resort is an ALL LUXURY INCLUSIVE resort. 
        <br />
        <br />
        <h2>What is included ?</h2>
        <br />
        <li> Enjoy 5 days accommodations 
        <li> (double occupancy ONLY bring your other person or contact Cynthia to be paired up)
        <li> Full access to any of the 16 restaurants featuring a variety of cuisines
        <li> All Drinks (alcohoic and non alcoholic)
        <li> All tips
        <li> Airport Transportion (to and from resort)
        <li> Non-motorized water sports
        <li> Resort Entertainment (Mechanical Bull, Glow Party)
        <li> The Caribbean's largest Rock Climbing Wall (30ft x 30 ft)
        </li>
      </ul>

  </div>